<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("what") %>>
				<a href="/intro/index.html">What is Serf?</a>
				</li>

				<li<%= sidebar_current("use-cases") %>>
				<a href="/intro/use-cases.html">Use Cases</a>
				</li>

				<li<%= sidebar_current("vs-other") %>>
				<a href="/intro/vs-other-sw.html">Serf vs. Other Software</a>
				<ul class="nav">
					<li>
					<a href="/intro/vs-zookeeper.html">ZooKeeper, doozerd, etcd</a>
					</li>

					<li>
					<a href="/intro/vs-chef-puppet.html">Chef, Puppet, etc.</a>
					</li>

					<li>
					<a href="/intro/vs-fabric.html">Fabric</a>
					</li>

					<li>
					<a href="/intro/vs-custom.html">Custom Solutions</a>
					</li>
				</ul>
				</li>

				<li<%= sidebar_current("gettingstarted") %>>
				<a href="/intro/getting-started/install.html">Getting Started</a>
				<ul class="nav">
					<li>
					<a href="/intro/getting-started/install.html">Install Serf</a>
					</li>

					<li>
					<a href="/intro/getting-started/agent.html">Run the Agent</a>
					</li>

					<li>
					<a href="/intro/getting-started/join.html">Join a Cluster</a>
					</li>

				</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
